parameters:
	ignoreErrors:
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Actions/Action.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Columns/Column.php

		-
			message: '#^Parameter \#1 \$array of function array_pop expects array, list\<string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/LivewireDatatablesCommand.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\DateFilter\:\:apply\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Filters/DateFilter.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\DateFilter\:\:apply\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Filters/DateFilter.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\Filter\:\:apply\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Filters/Filter.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\Filter\:\:apply\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Filters/Filter.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Filters/Filter.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\SelectFilter\:\:apply\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Filters/SelectFilter.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\SelectFilter\:\:apply\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Filters/SelectFilter.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\SelectFilter\:\:getOptions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Filters/SelectFilter.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\SelectFilter\:\:options\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Filters/SelectFilter.php

		-
			message: '#^Property ModusDigital\\LivewireDatatables\\Filters\\SelectFilter\:\:\$options type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Filters/SelectFilter.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\TextFilter\:\:apply\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Filters/TextFilter.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Filters\\TextFilter\:\:apply\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Filters/TextFilter.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Pagination\\LengthAwarePaginator\|Illuminate\\Support\\Collection\:\:pluck\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:actions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:applyFilters\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:applyFilters\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:applyGlobalSearch\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:applyGlobalSearch\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:applySorting\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:applySorting\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:columns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:filters\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getActions\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getColumns\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getFilters\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getPerPageOptions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getRecordActions\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getRowActions\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getRows\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getRows\(\) return type with generic interface Illuminate\\Contracts\\Pagination\\LengthAwarePaginator does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getSearchableColumns\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getSortableColumns\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:getVisibleRowIds\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:query\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:render\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Method ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:rowActions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Property ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:\$filters type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Property ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:\$perPageOptions type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Property ModusDigital\\LivewireDatatables\\Livewire\\Table\:\:\$selected type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Livewire/Table.php

		-
			message: '#^Using nullsafe method call on non\-nullable type mixed\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Livewire/Table.php
